### Testeo de las funciones que realizaran las consultas en nuestra api

In [1]:
import pandas as pd
import numpy as np

In [2]:
movie_df = pd.read_csv('movie_set.csv')
movie_df.head(1)

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type,Plataforma,movieId,score(prom)
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30 00:00:00,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,Amazon,as1,3.467131

In [3]:
movie_df.shape

(22998, 16)

In [4]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       22998 non-null  object
 4   cast           22998 non-null  object
 5   country        22998 non-null  object
 6   date_added     22998 non-null  object
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   listed_in      22998 non-null  object
 10  description    22998 non-null  object
 11  duration_int   22998 non-null  int64
 12  duration_type  22998 non-null  object
 13  Plataforma     22998 non-null  object
 14  movieId        22998 non-null  object
 15  score(prom)    22998 non-null  float64
dtypes: float64(1), int64(2), object(13)
memory usage: 2.8+ MB

Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. (la función debe llamarse get_max_duration(year, platform, duration_type))

In [5]:
def get_max_duration(anio:int,plataforma:str,min_o_season:str):
    #colocamos dentro de una variable llamada result, el resultado de buscar un año y la plataforma
    movie_df_filtrado = movie_df[(movie_df['release_year']==anio) & (movie_df['Plataforma']==plataforma)]
    #ahora dentro del if, la función toma en cuenta si se ingresa como parámetro la palabra "min" o "seasons", para ver si se quiere buscar una serie o una película
    if min_o_season == 'min':
    #dentro de a se va guardando en resultado maximo de la columna correspondiente a min, lo cual va llenando una lista para luego devolver la de mayor duración en esa plataforma y en ese año
        a = movie_df_filtrado['duration_int'].max()
        name = movie_df_filtrado[movie_df_filtrado['duration_int']==a] ['title']
        name = name.to_list()
        name = name[0]
    else:
        a = movie_df_filtrado['season'].max()
        #dentro de a se va guardando en resultado maximo de la columna correspondiente a seasons, lo cual va llenando una lista para luego devolver la de mayor duración en esa plataforma y en ese año
        name = movie_df_filtrado[movie_df_filtrado['season']==a] ['title']
        name = name.to_list()
        name = name[0]
    return name

In [6]:
get_max_duration(2018,'Amazon','min')

'soothing surf at del norte for sleep black screen'

Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))

In [9]:
def get_score_count(platform:str, score:float, year:int):
    # Filtramos el data frame 'movie_df' por plataforma y año
    movie_df_filtro1 = movie_df[(movie_df['release_year']==year) & (movie_df['Plataforma']==platform)]
    # Filtramos por score y asignamos la cantidad de peliculas a la variable 'cantidad'
    cantidad = movie_df_filtro1[(movie_df_filtro1['score(prom)'] > score)].shape[0]
    
    return cantidad

In [10]:
get_score_count('Disney',3000,2018)

0

Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))

In [11]:
def get_count_platform(platform:str):
    cantidad_pelis = movie_df[movie_df['Plataforma'] == platform].shape[0]

    return cantidad_pelis

In [12]:
get_count_platform('Amazon')

9668

Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))

In [13]:
def get_actor(platform:str, year:int):
    movie_df_filtro1 = movie_df[(movie_df['release_year']==year) & (movie_df['Plataforma']==platform)]
    
    l = movie_df_filtro1.shape[0] 

    lista_cast = []
    for i in range(0,l):
        lista = movie_df_filtro1['cast'].iloc[i].split(',')
        for elemento in lista:
            lista_cast.append(elemento)

    actor = max(lista_cast, key=lista_cast.count) 

    return actor

In [14]:
get_actor('Netflix',2000)

' donald sutherland'

Todo parece funcionar ;)